* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50pt;
}

header.carne {
    padding: 4vh;
    background: url(img/carne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80vh;
    text-shadow: 0 0 10px black;
}

header.pescado {
    padding: 4vh;
    background: url(img/pescado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50vh;
    text-shadow: 0 0 10px black;
}

header.verduras {
    padding: 4vh;
    background: url(img/verdura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55vh;
    text-shadow: 0 0 10px black;
}

header.pasta {
    padding: 4vh;
    background: url(img/pasta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80vh;
    text-shadow: 0 0 10px black;
}

header.croquetas {
    padding: 4vh;
    background: url(img/croquetas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -60vh;
    text-shadow: 0 0 10px black;
}

header.guisos {
    padding: 4vh;
    background: url(img/guisos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80vh;
    text-shadow: 0 0 10px black;
}

header.postres {
    padding: 4vh;
    background: url(img/postres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80vh;
    text-shadow: 0 0 10px black;
}

header.general {
    padding: 4vh;
    background: url(img/general.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -160vh;
    text-shadow: 0 0 10px black;
}