html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

 body::-webkit-scrollbar-track
 {
     border-radius: 10px;
     background-color: #F5F5F5;
 }
 
 body::-webkit-scrollbar
 {
     width: 8px;
     background-color: #F5F5F5;
 }
 
 body::-webkit-scrollbar-thumb
 {
     border-radius: 10px;
     background-color: #D62929;
 }

main {
    flex-grow: 1;
    margin: 0;
}

.aside {
    height: 100%;
    margin-bottom: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

* {
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    color: white;
    font-size: 50pt;
}

header.carne {
    padding: 4vh;
    background: url(../img/carne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80vh;
    text-shadow: 0 0 10px black;
}

header.pescado {
    padding: 4vh;
    background: url(../img/pescado.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50vh;
    text-shadow: 0 0 10px black;
}

header.verduras {
    padding: 4vh;
    background: url(../img/verdura.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -55vh;
    text-shadow: 0 0 10px black;
}

header.pasta {
    padding: 4vh;
    background: url(../img/pasta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80vh;
    text-shadow: 0 0 10px black;
}

header.croquetas {
    padding: 4vh;
    background: url(../img/croquetas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -60vh;
    text-shadow: 0 0 10px black;
}

header.guisos {
    padding: 4vh;
    background: url(../img/guisos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80vh;
    text-shadow: 0 0 10px black;
}

header.postres {
    padding: 4vh;
    background: url(../img/postres.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -80vh;
    text-shadow: 0 0 10px black;
}

header.general {
    padding: 4vh;
    background: url(../img/general.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -160vh;
    text-shadow: 0 0 10px black;
}

footer.page-footer {
    background-color: #3d3d3d;
}
ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.espacio {
    margin-right: 170px;
}
